[Unit]
Description=Run My Script at Startup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start_tastic.sh
Restart=on-failure
User=ggomes
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/sbin
Environment=PM2_HOME=/home/ggomes/.pm2

[Install]
WantedBy=multi-user.target
