[Unit]
Description=Run My Script at Startup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tastic.sh
Restart=on-failure
User=ggomes
Environment=PATH=/usr/bin:/bin:/usr/local/bin:/usr/local/sbin:/home/ggomes/.nvm/versions/node/v14.21.3/bin
Environment=PM2_HOME=/home/ggomes/.pm2

[Install]
WantedBy=multi-user.target
